{{ 'banner-custom.css' | asset_url | stylesheet_tag }}

<section class="banner-custom">
  style="background-image: url({{ section.settings.bg_image | image_url }});">

  <div class="banner-content">

    <h1>{{ section.settings.heading }}</h1>

    <p>{{ section.settings.text }}</p>

  </div>

</section>


{% schema %}
{
  "name": "Multi Button Section",
   "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome to our store"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Add your description here"
    }
   ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Button Icon"
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "Icon Position",
          "default": "right",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi Buttons"
    }
  ]
}
{% endschema %}