:root{
--font-heading-size: 70px;
--font-button-size: 16px;
 --font-size: 20px;
 --line-height: 24px;
}

.banner-custom {
background-size: 100%;
background-size: 100%;
padding: 390px 0px;
background-repeat: no-repeat;
}

.banner-content {
  max-width: 600px;
  position:relative;
  left: 60px;;
}

.banner-btn {
  display: inline-block;
  padding: 12px 24px;
  background: black;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.banner-btn:hover {
  background: orange;
}

.btn {
 font-size: var(--font-button-size);
}

p {
 font-size: var(--font-size);
 line-height: var(--line-height);
}

h1{
--font-heading-size: 70px;
}