.banner-custom {
 background-repeat: no-repeat;
 min-height: 880px;
 background-size: cover;
}

.banner-content {
  max-width: 600px;
  margin: 0 auto;
}

.banner-btn {
  display: inline-block;
  padding: 12px 24px;
  background: black;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.banner-btn:hover {
  background: orange;
}