:root{
--font-heading-size: 70px;
--font-button-size: 16px;
 --para-font-size: 20px;
 --font-line-height: 24px;
 --font-margin-bottom:0px;
}

.banner-custom {
background-size: 100%;
background-size: 100%;
padding: 390px 0px;
background-repeat: no-repeat;
}

.banner-content {
  max-width: 540px;
  position:relative;
  left: 60px;
}

.banner-btn {
  display: inline-block;
  padding: 12px 24px;
  background: black;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.banner-btn:hover {
  background: orange;
}

.btn {
 font-size: var(--font-button-size);
}

p {
 font-size: var(--para-font-size);
 line-height: var(--font-line-height);
}

h1{
font-size:var(--font-heading-size);
margin-bottom:var(--font-margin-bottom);
}